#top{
  background-color: white;
}
  
  /*NAVBAR*/
  
  body
  {
	  margin: 0;
	  padding: 0;
	  font-family: sans-serif;
  }

  header 
{
    padding: 0px 150px 0px 60px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: black;
    transition: .5s;
    font-family: sans-serif;
}
  header .logo
  {
	  color: white;
	  height: 50px;
	  line-height: 50px;
	  font-size: 24px;
	  float: left;
	  font-weight: bold;
  }
  header nav
  {
    float: right;
    z-index: 1;
  }
  header nav ul
  {
	  margin: 0;
	  padding: 0;
	  display: flex;
  }
  header nav ul li
  {
	  list-style: none;
	  text-decoration: none; 
  }
  header nav ul li a
  {
	  height: 50px;
	  line-height:50px;
	  color: white;
	  display: block;
	  padding: 0 20px;
	  text-decoration: none; 
	  font-size: 17px;
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header nav ul li a:hover
  {
    color:whitesmoke;
    background-color: #00e6e6;
    text-decoration: none;
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px;
  }
  .menu-toggle
  {
	color: #00e6e6;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
  }
  
  @media only screen and (max-width: 991px)
  {
	   header
	   {
	   padding: 0 20px;
	  }
	  .menu-toggle
	  {
	  display: block;
	 
	  }
	   header nav
		{
	   position:absolute;
	   left:-100%;
	   width: 100%;
	   height: calc(100vh-50px);
	   background: black;
	   top: 50px;
	   transition: 0.5s;
		}
  
		header nav ul{
	  display: block;
	  text-align: center;
		}
  
		header nav.active
		{
	   left: 0;
		}
  }
  .page {
  overflow: hidden;
}
.port-banner {
  /*background-image: url(../img/portilio-banner.jpg);*/
  background-color: black;
  background-position: 50% 15px;
  padding-bottom: 100px;
}
p{
  font-family: 'book man old style';
}
.page-section{
  width: 100%;
  display: block;
  position: relative;
  color: white;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 80px;

}
.aboutus
{
  /*height: 100vh;*/
  margin-bottom: 80px;
}
/*section1*/
.aboutus h2{
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 20px 0;

}
.aboutus p{
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: left;
}

/*section2*/

.qualitydesign{
  background: rgb(68, 81, 90);
  padding: 30px;
  min-height: auto;
}
.qualitydesign h3
{
  color: rgb(204, 204, 204);
  font-size: 17px;
}
.qualitydesign h2 {
  color: rgb(255, 255, 255);
  position: relative;
  margin-bottom: 44px;
  font-size: 36px;
}
.qualitydesign .block-one {
  margin-bottom: 44px;
}
.qualitydesign .block-one span {
  width: 70px;
  height: 80px;
  float: left;
}
.qualitydesign .block-one span img{
  width: 80%;
}
.qualitydesign .block-one .para h4 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
.qualitydesign .block-one .para p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

/*section3*/

.howwework h2{
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 20px 0;    
}
.howwework img{
  width: 100%;
  align-items: center;
  height: 100%;
  padding: 10px;
}

/*section4*/

.values h2{
  font-size: 36px;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 20px 0;    
}
.values .content {
  line-height: 1.5;
  max-width: calc(1024px + 2em);
  clear: both;
}
.values .list-square li {
  position: relative;
  text-indent: 0;
  margin: 0 0 1.5em 0;
  padding-left: 1.25rem;
  font-size: 20px;
  line-height: 1.5em;
}

/*section5*/

.designtitle{
  width: 100%;
}
.designtitle img{
  height: 300px;
  width: 100%;

}
.hownew {
  padding: 40px 0 90px;
  margin-top: 20px;
  margin-bottom: 0!important;
}
.hownew .box{
  padding: 15px 15px;
}
.border-bottom {

  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}
.border-bottom h4{

  font-weight: 500;
  font-size: 25px;
}

.hownew p {
  margin-top: 20px;
  margin-bottom: 0!important;
  font-size: 18px;
  text-align: center;
  color: #444b54;
}
.hash1{
  color: #f97933;
  border-bottom: 5px solid #f97933;
}
.hash2{
  color: #f43868;   
  border-bottom: 5px solid #f43868;
}
.hash3{
  color: #6a40ad;
  border-bottom: 5px solid #6a40ad;    
}
.hash4{
  color: #349bf1;
  border-bottom: 5px solid #349bf1;    
}
.hash5{
  color: #01bb74;
  border-bottom: 5px solid #01bb74;    
}
.hash6{
  color:  #ffa500;
  border-bottom: 5px solid #ffa500;    
}

/*section6*/

.ourteam{
  margin-bottom: 100px;
}

.team-area{
  padding-top: 5%;

}
.single-team{
  background-color: #000;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 90%;
  height: 450px;
}
.single-team:hover .social{
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}
.img-area{
  height: 320px;
  overflow: hidden;
  position: relative;
  
}
.img-area img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
}
.img-area:hover img{
  transform: scale(1.2);
}

@media(max-width: 768px)
{
  .img-area img{
      display: inline-block;
  }
}
.img-area .social{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transform: rotateY(180deg) scale(0.5,0.5);
  transition: .5s;
}
.img-area .social ul{
  text-align: center;
  position: relative;
  top: 175px;

}
.img-area .social ul li a{
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px; 
  text-align: center;
}
.img-area .social ul li a:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
}
.img-text{
  padding: 25px;
  color: #fff;
  text-align: center;
}
.img-text h4{
  margin: 0 0 5px;
  font-size: 25px;
  letter-spacing: 5px;
}
.img-text h5{
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


  /* CONTACT SECTION */
  .small-section{
    width: 100%;
   display: block;
   position: relative;
   overflow: hidden;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   box-sizing: border-box;
   padding: 80px 0;	
}
.relative {
   position: relative;
}
.text-left {
   text-align: left !important;
}

@media only screen and (max-width: 767px)
{
.footer h2 {
   color: #808080;
   font-size: 50px !important;
   line-height: 50px !important;
   margin: 0px !important;
}
}
@media only screen and (max-width: 767px)
{
.footerp {
 float: right;
   cursor: pointer;
   font-size: 16px;
   color: #cfd8dc;
   transition: all 0.2s;
}
}

h6{
   float: right;
   cursor: pointer;
   font-size: 16px;
   color: #cfd8dc;
   transition: all 0.2s;
}
/*
a{
 color: #98afc3;
}*/
.benefits-grid {

   margin: 0 0 -40px -20px;
   text-align: center;
   vertical-align: top;
}

.benefit-item {
   display: inline-block;
   width: 264px;
   margin: 0 0 40px 20px;
   padding: 15px;
   position: relative;
   overflow: hidden;
   box-sizing: border-box;
   vertical-align: top;
   cursor: default;
}
.benefit-icon {
   position: relative;
   margin-bottom: 6px;
   font-size: 32px;
   color: #fff;
}
.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
}    

.benefit-title {
   position: relative;
   margin: 0 0 17px 0;
   padding: 0;
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
}

.benefits-descr {
   position: relative;
   font-size: 15px !important;
   font-weight: 300;
   letter-spacing: 3px !important;
}
.benefits-descr a
{
  color: #3399ff;
}

.benefits-descr a:hover
{
 color: #00e6e6 ;
}

.footerlist {
   border-bottom: 2px solid #f1f1f2;
   text-align: center;
   font-size: 12px;
}
ul{
   margin: 0px;
   padding: 0;
}
.footerlist li {
   color: #fff;
   display: inline;

}
.footerlist li a {
   /*color: #fff;*/
   font-size: 18px;
   text-align: left;
   padding: 0 8px;
   color: #fff;
   text-decoration: none;
}

.social-links {
   font-size: 14px;
   margin-bottom: 80px;
   text-align: center;
}
.social-links a {
   width: 50px;
   height: 25px;
   line-height: 25px !important;
   position: relative;
   margin: 0 6px;
   text-align: center;
   display: inline-block;
   color: #98afc3;
   transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
   font-size: 30px;
}
.sidebar-contact {
   position: fixed;
   transform: translateY(-50%);
   top: 71%;
   right: -350px;
   width: 350px;
   height: auto;
   padding: 40px;
   background: #111;
   box-shadow: 0 20px 50px rgba(0,0,0, .5);
   transition: 0.5s ease-in-out;
}

.sidebar-contact.active
{
 right: 0px;
}

.toggle {
   position: absolute;
   top: 170px;
   left: -140px;
   height: 65px;
   line-height: 47px;
   text-align: center;
   cursor: pointer;
   background: #141618;
   -webkit-transform: rotate(90deg);
   padding: 20px 20px;
   z-index: 999;
   box-shadow: 1px 1px 2px 1px #111111;
}
.toggle:before {
   content: "REQUEST A CALL BACK \f003";
   font-family: fontAwesome;
   color: #fff;
   font-size: 18px;
}
.toggle.active:before {
   content: "REQUEST A CALL BACK \f00d";
}

.sidebar-contact h2 {
   margin: 0 0 20px;
   padding: 0;
   color: #fff;
}


.sidebar-contact input, .sidebar-contact textarea {
   width: 100%;
   height: 36px;
   padding: 5px;
   margin-bottom: 10px;
   border-bottom: 2px solid rgb(255, 255, 255) !important;
   outline: none;
   background: transparent;
   border: 0px;
   color: #fff;
}
.sidebar-contact textarea
{
 height: 60px;
 resize: none;
}
.sidebar-contact input[type="submit"] {
   background: #fff;
   color: #141618;
   cursor: pointer;
   border: none;
   font-size: 18px;
   border-bottom: 0px !important;
}
   
.footer-text{
   text-align: center;
   
}

.foot{
   text-align: center;
   padding-bottom: 10px;
}

/* STICKY PAGE*/
#top{
  margin-bottom: 100vh;
}
#contact{
  position: fixed;
  width: 100%;
  z-index: -1;
  bottom: 0;
} 
@media (max-width: 768px)   
{

#top{
  margin-bottom: 0px;
}
#contact{
  position: relative;
} 
}