#Home{
	background-color: #1A1D21;
	min-height:100vh ;
  }
  
  /*NAVBAR*/
  
  body
  {
	  margin: 0;
	  padding: 0;
	  font-family: sans-serif;
  }
  header
  {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding: 0 100px;
	  width:100%;
    box-sizing: border-box;
    
  }
  header .logo
  {
	  color: white;
	  height: 50px;
	  line-height: 50px;
	  font-size: 24px;
	  float: left;
	  font-weight: bold;
  }
  header nav
  {
	  float: right;
  }
  header nav ul
  {
	  margin: 0;
	  padding: 0;
	  display: flex;
  }
  header nav ul li
  {
	  list-style: none;
	  text-decoration: none; 
  }
  header nav ul li a
  {
	  height: 50px;
	  line-height:50px;
	  color: white;
	  display: block;
	  padding: 0 20px;
	  text-decoration: none; 
	  font-size: 17px;
	  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header nav ul li a:hover
  {
    color:whitesmoke;
    background-color: #00e6e6;
    text-decoration: none;
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px;
  }
  .menu-toggle
  {
	color: #00e6e6;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
  }
  
  @media only screen and (max-width: 991px)
  {
	   header
	   {
	   
	  }
	  .menu-toggle
	  {
	  display: block;
	  padding-top: 10px;
	  }
	   header nav
		{
	   position:absolute;
	   left:-100%;
	   width: 100%;
	   height: calc(100vh-50px);
	   background: black;
	   top: 50px;
	   transition: 0.5s;
		}
  
		header nav ul{
	  display: block;
	  text-align: center;
		}
  
		header nav.active
		{
	   left: 0;
		}
  }
  
  
  
  /* CONTACT SECTION */
  .small-section{
    width: 100%;
   display: block;
   position: relative;
   overflow: hidden;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   box-sizing: border-box;
   padding: 80px 0;	
}
.relative {
   position: relative;
}
.text-left {
   text-align: left !important;
}

@media only screen and (max-width: 767px)
{
.footer h2 {
   color: #808080;
   font-size: 50px !important;
   line-height: 50px !important;
   margin: 0px !important;
}
}
@media only screen and (max-width: 767px)
{
.footerp {
   font-size: 22px !important;
   margin-top: 0px !important;
   float: left;
}
}

p{
   float: right;
   cursor: pointer;
   font-size: 16px;
   color: #cfd8dc;
   transition: all 0.2s;
}
/*
a{
 color: #98afc3;
}*/
.benefits-grid {

   margin: 0 0 -40px -20px;
   text-align: center;
   vertical-align: top;
}

.benefit-item {
   display: inline-block;
   width: 264px;
   margin: 0 0 40px 20px;
   padding: 15px;
   position: relative;
   overflow: hidden;
   box-sizing: border-box;
   vertical-align: top;
   cursor: default;
}
.benefit-icon {
   position: relative;
   margin-bottom: 6px;
   font-size: 32px;
   color: #fff;
}
.fa {
   display: inline-block;
   font: normal normal normal 14px/1 FontAwesome;
   font-size: inherit;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
}    

.benefit-title {
   position: relative;
   margin: 0 0 17px 0;
   padding: 0;
   font-size: 14px;
   color: #fff;
   text-transform: uppercase;
}

.benefits-descr {
   position: relative;
   font-size: 15px !important;
   font-weight: 300;
   letter-spacing: 3px !important;
}
.benefits-descr a
{
  color: #3399ff;
}

.benefits-descr a:hover
{
 color: #00e6e6 ;
}

.footerlist {
   border-bottom: 2px solid #f1f1f2;
   text-align: center;
   font-size: 12px;
}
ul{
   margin: 0px;
   padding: 0;
}
.footerlist li {
   color: #fff;
   display: inline;

}
.footerlist li a {
   /*color: #fff;*/
   font-size: 18px;
   text-align: left;
   padding: 0 8px;
   color: #fff;
   text-decoration: none;
}

.social-links {
   font-size: 14px;
   margin-bottom: 80px;
   text-align: center;
}
.social-links a {
   width: 50px;
   height: 25px;
   line-height: 25px !important;
   position: relative;
   margin: 0 6px;
   text-align: center;
   display: inline-block;
   color: #98afc3;
   transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
   font-size: 30px;
}
.sidebar-contact {
   position: fixed;
   transform: translateY(-50%);
   top: 71%;
   right: -350px;
   width: 350px;
   height: auto;
   padding: 40px;
   background: #111;
   box-shadow: 0 20px 50px rgba(0,0,0, .5);
   transition: 0.5s ease-in-out;
}

.sidebar-contact.active
{
 right: 0px;
}

.toggle {
   position: absolute;
   top: 170px;
   left: -140px;
   height: 65px;
   line-height: 47px;
   text-align: center;
   cursor: pointer;
   background: #141618;
   -webkit-transform: rotate(90deg);
   padding: 20px 20px;
   z-index: 999;
   box-shadow: 1px 1px 2px 1px #111111;
}
.toggle:before {
   content: "REQUEST A CALL BACK \f003";
   font-family: fontAwesome;
   color: #fff;
   font-size: 18px;
}
.toggle.active:before {
   content: "REQUEST A CALL BACK \f00d";
}

.sidebar-contact h2 {
   margin: 0 0 20px;
   padding: 0;
   color: #fff;
}


.sidebar-contact input, .sidebar-contact textarea {
   width: 100%;
   height: 36px;
   padding: 5px;
   margin-bottom: 10px;
   border-bottom: 2px solid rgb(255, 255, 255) !important;
   outline: none;
   background: transparent;
   border: 0px;
   color: #fff;
}
.sidebar-contact textarea
{
 height: 60px;
 resize: none;
}
.sidebar-contact input[type="submit"] {
   background: #fff;
   color: #141618;
   cursor: pointer;
   border: none;
   font-size: 18px;
   border-bottom: 0px !important;
}
   
.footer-text{
   text-align: center;
   
}

h4{
   text-align: center;
   padding-bottom: 10px;
}
