.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/img/bg2.jpg); 

}
#service_section{
  height: calc(50vh);
    min-height: 400px; 
}
@media (max-width: 991px){
  #service_section {
    height: calc(30vh);
    min-height: 350px;
 }
}
@media (max-width: 480px){
  #service_section {
    height: calc(40vh);
    min-height: 270px;
  }
}
 @media (max-width: 991.98px) {
      .cat-slider  .owl-style .owl-nav .owl-prev {
         left: -15px;
        }
      .cat-slider  .owl-style .owl-nav .owl-next {
          right: -15px; 
        }
    
  }
 

.all h1{
    font-size: 70px;
    font-weight: 700;
    color: #000d31;
}

 .site-blocks-cover, .site-blocks-cover > .container > .row {
        height: calc(40vh);
    min-height: 300px;
    padding-top: 50px;
  }
  @media (max-width: 991.98px) {
    .site-blocks-cover, .site-blocks-cover > .container > .row {
    height: auto;
    min-height: 175px;
     }
  }
   @media (max-width: 767px) {
    .site-blocks-cover, .site-blocks-cover > .container > .row {
      height: auto;
      min-height: 150px;
     }
  }
  .cat-slider{
    margin-bottom: 3%;
  }


  .cat-slider .owl-style .owl-nav .owl-next{
    margin-top: -50px;
  }
  .cat-slider .owl-style .owl-nav .owl-prev{
    margin-top: -50px;
  }
/*starting portfolio page style*/
@media (max-width: 767px){
  .gal-item {
    margin: 10px 0;
  }
}
.ssubimg{
  height: 100%;
  width: 100%;
}
#gallery-section{
  padding:50px 0;
}
.simg{
     padding: 0px 15px;
    min-height: 300px;
}
.bimg{
padding: 0px 40px;
 min-height: 400px;
}
.visit-btn1{
  position: absolute;
    bottom: 63px;
    left: 93px;
    padding: 0px 30px;
    border-radius: 22px;
    border: solid 0.5px #000e35;
    background-color: #000c2d;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 2.07px;
    text-align: left;
    color: white;
}
.visit-btn1:focus{
  outline: none;

}
.visit-btn1:hover{
   color: #7c7b79;
  background-color:  #000c2d ;
}
@media(max-width: 991px){
  .visit-btn1 {
    bottom: 20px;
    left: 20px;
    padding: 0px 20px;
    font-size: 14px;
  }
}
.main-head{
  font-size: 35px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding: 50px 0;
   text-align: center;
}
.textcat-head{
      font-size: 30px;
    font-weight: 500;
    text-align: left;
    color: #000d31;
    text-decoration: underline;
}

.Rectangle,.Rectangle1 {
  text-align: center;
}
.Rectangle div,.Rectangle1 div{
  padding: 20px 0;
}
.Rectangle img, .Rectangle1 img{
  height: 300px;
  border-radius: 10px;
  margin-top:20px;
}
. {
  padding-bottom: 100px;
}
.Name-of-Project 
{
  font-size: 25px;
  font-weight: 500;
  color: #000d31;
  padding-top: 10px;
  margin-bottom: 15px;
}
.live-btn{
      padding: 5px 20px;
    border-radius: 22px;
    border: solid 0.5px #000e35;
    background-color: #000c2d;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1.07px;
    text-align: left;
    color: white;
    text-decoration: none;
}

.live-btn:hover{
  text-decoration: none;
   color: #7c7b79;
}
.a-liitle-about-it 
{
  opacity: 0.60;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 2px;
  color: #000d31;
}

/*tablets*/
@media(max-width: 991px){
.simg {
    padding: 0px 10px;
    min-height: 175px;
}
 .bimg {
    padding: 0px 0px;
    min-height: 325px;
}
}
/*large mobiles*/
@media(max-width: 767px){
  .simg {
   padding: 30px 10px;
    min-height: 305px;
}
 .bimg {
    padding: 0px 0px;
    min-height: 325px;
}
 .cat-slider .owl-style .owl-nav .owl-prev {
    left: -5px;
    margin-top:-40px;
}
.cat-slider.owl-style .owl-nav .owl-next {
    right: -5px;
    margin-top:-40px;
}
    .Rectangle img, .Rectangle1 img{
        height: 200px;
      }
    .live-btn{
        font-size: 16px;
      }
}
/*small mobiles*/
@media(max-width: 480px){
 .main-head {
    padding-top: 0;
  }
  .Name-of-Project {
    font-size: 22px;
  }
  .visit-btn1 {
    position: absolute;
    bottom: 45px;
    left: 35px;
    }
}

@media(max-width: 400px){
    .simg {
   padding: 30px 10px;
    min-height: 255px;
}
}
  @media (max-width: 991.98px) and (min-width: 767px ) {
        .Rectangle img, .Rectangle1 img {
          height: 200px;
      }
   }

/*end portfolio page style */

/*blog page style*/
.blog_slider_{
  padding: 50px 0;
}
.blg_section h2{
  font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #000c2d;
}
.blg_section{
  padding: 50px 0;
}
.blg_section .heading{
 text-align: left;
 color: #000c2d;
}

.blogbox{
text-align: center;
}
.blogbox .img{
   height: 300px;
}
.blogbox .tl{
  font-size: 22px;
  letter-spacing: normal;
  font-weight: 500;
  color: #000d31;
  padding-top: 10px;
}
.blogbox .dt{
   opacity: 0.60;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  color: #000d31;
}
.blog_section{
  margin-top: 7%;
  margin-bottom: 7%;
}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
}
#blog{
    /*padding-right: 200px;
  
  padding-left: 200px;*/
  width: 100%;
}
#blog img {
  width: 100%;
  height: 410px;
}
#blog .read-more-btn{
  margin: 20px;
  margin-top: 15px;
  float: right;
  border-radius: 25px;
  border: solid 1px #000c2d;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 2.13px;
  text-align: left;
  color: #000d31;
}

#blog p{
  font-size: 16px;
  padding: 1px;
  font-family: poppins;
}
#blog h1{
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  
  letter-spacing: 1px;
  text-align: left;
  color: #000d31
}
#blog .date{
  float: right; 
  padding-right: 50px ;
  
  opacity: 0.62;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: left;
  color: #000d31;
  
}
#blog .authore{
 
  opacity: 0.71;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600px;
  letter-spacing: 2.55px;
  text-align: left;
  color: #000d31;
}
#blog .img-area{
  width: 100%;
  height: 100%;
}
#blog .img-area .img{
  border-top-right-radius: 30px;
 box-shadow: 5px 0 3px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px rgba(0, 14, 53, 0.3);
      width: 100%;
    height: 100%;
    
}
.page-link {
    color: #000d31;
    background: none;
}
.page-link:focus{
    color: #000d31;
    background: none;
    border: none;
    outline: none;
}
.page-link:hover {
    color: #000d31;
    background: none;
    border: none;
    outline: none;
}
.page_link_div  ul li {
   width: 50px;
    height: 50px;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    display: flex;
    font-style: normal;
    border: solid 1px #000e35;
    letter-spacing: 2.64px;
    text-align: center;
    color: #f2f2f2;
    align-items: center;
    justify-content: center;
}
.page_link_div .active{
   background-color: #000e35;
  color: #fff;
}
.page-link{
  border: none;
  padding: 0;
  text-decoration: none;
}

.page-link:focus{
  outline: none;
}
.page_link_div  ul .active .page-link{
  border: solid 1px #000e35;
  background-color: #000e35;
  color: #fff;
  font-size: 25px;
}

#link_1
 {
   width: 60px;
     font-size: 20px;
    color: #000d31;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
 
  letter-spacing: 2.64px;
  text-align: center;
  
}
.blog-content h2{
    font-size: 30px;
    color: #000c2d;
}
.blog-content h1{
    font-size: 35px;
    color: #000c2d;
    font-weight: bold;
}
.blog-content h3{
    color: #000c2d;
}
.blog-sec h2{
  color: #000c2d;
}
.blog-sec h4{
  color: #000c2d;
}
.sidebar-box h3{
      color: #000c2d;
    padding: 10px 0;
    font-size: 20px;
}
.blogt{
  font-size: 50px;
    font-weight: 700;
    color: #000d31;

}
.blog-sec h1{ 
font-size: 30px; 
 }
.blog-sec p{
  font-size: 16px;
}
.blog-sec img{
  width: 100%;
}

/*tablets*/
@media(max-width: 991px){
.blogt {
    font-size: 35px;
  }
    .blog-sec p{
  font-size: 14px;
  line-height: 1.4;
}
.sidebar-box p{
  font-size: 10px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.sidebar-box h3 {
    color: #000c2d;
    padding: 10px 0;
    font-size: 14px;
}
.author h3{
   color: #000c2d;
    padding: 10px 0;
    font-size: 10px;
}
.blog_section .img-area-2{
    height: 300px;
  }
.blogbox .img {
    height: 200px;
}
}
/*large mobiles*/
@media(max-width: 767px){
  .blog-content h1 {
    font-size: 28px;
    }  
  .blogt{
     font-size: 28px;
   }
  .blog-sec p{
  font-size: 14px;
  line-height: 1.4;
  }
  .blogbox .tl{
    font-size: 18px;
  }
  .blogbox .dt {
    opacity: 0.60;
    font-size: 12px;
  }
  .blogbox .img {
    height: 225px;
  }
  
  .blog_section .img-area-2{
    height: 225px;
  }

 .sidebar{
  padding-top: 50px;
 }
 .int_heading {
  padding: 0 25px;
 }


}
/*small mobiles*/
@media(max-width: 400px){
.blg_section {
  padding: 0;
}
.author h3 {
  font-size: 16px;
}

}



/*end blog page style */





/*contact page style*/
.contact{
  padding: 50px 0;
}
.contleft{
  display: flex;
  align-items: center;
   padding: 20px 30px;
}
.cntbox{
  padding: 20px 10px;
}
.cnthead 
{
  opacity: 0.55;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2.08px;
  text-align: left;
  color: #000923;
}
.cnttext 
{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.15px;
  text-align: left;
  color: #000e35;
  padding: 10px 0;
}

.Rectangle-215 
{
  height: 100%;
  box-shadow: 0 -10px 6px 0 rgba(0, 22, 83, 0.57);
  background-color: #000e35;
  padding: 30px;
}
.contright{
  padding: 0 30px;
}
.Say-directly 
{  
  opacity: 0.85;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 6.95px;
  text-align: left;
  color: #eeeeee;
  margin-bottom: 30px;
}
option{
  background-color: white;
  color: black
}

.cntinput
{
  width: 100%;
  height: 45px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.31);
  font-weight: 400;
  letter-spacing: 1.06px;
  padding: 10px;
  color: white;
  border: none;
}
.cntinput:focus,.Textarea:focus {
  outline: none;
  border: 1px solid white;
}

.Textarea 
{
   width: 100%;
  font-size: 20px;
  background-color: rgba(255,255,255,0.31);
  font-weight: 400;
  letter-spacing: 1.06px;
  padding: 10px;
  color: white;
  border: none;
}

.Submit 
{
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  background-color: #fff;
  letter-spacing: 2.06px;
  text-align: center;
  color: #000d31;
  border: none;
}
.Submit:hover{

  background-color: #000d31;
  color: white;
  border: 1px solid white;
}

/*tablets*/
@media(max-width: 991px){
   .cnthead 
    {
      font-size: 16px;
    }
    .cnttext 
    {
      font-size: 18px;
      }
      .Say-directly 
    {  
      font-size: 30px;
    }

    .cntinput,.Textarea
    {
      width: 100%;
      height: 45px;
      font-size: 18px;
    }
    .Submit 
    {
      width: 100%;
      height: 50px;
      font-size: 20px;
    }
    #blog img {
      width: 100%;
      height: 200px;
    }

}

/*large mobiles*/
@media(max-width: 767px){
    #blog a{
        position: absolute;
    }
    .contright {
    padding: 0 0px;
   }
}



@media (max-width: 420px) {
    .cnthead 
    {
      font-size: 16px;
    }
    .cnttext 
    {
      font-size: 16px;
      }
      .Say-directly 
    {  
      font-size: 25px;
    }

    .cntinput,.Textarea
    {
      width: 100%;
      height: 45px;
      font-size: 16px;
    }
    .Submit 
    {
      width: 100%;
      height: 50px;
      font-size: 18px;
    }
}
/*small mobiles*/
@media(max-width: 400px){
  #_detail{
    padding-left: 10px;
    display: none;
    
  }
}

.choose{
      padding-top: 30px;
}
/* start about as*/
.first_section,.second_section,.fourth_section,.third_section{
  padding: 50px 0;
}


.aboutmore{
  display: none;
}
.readabout{
  text-align: center;
    padding: 20px;
    color: #000d31; 
}
.readabout a{
    color: #000d31;
    border: 1px solid #000d31;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.first_section .contain{
background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/img/backgrnd.jpg); 
  padding: 10px;

}
.first_section p{
  opacity: 0.97;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  margin: 0;
  padding: 15px;
  text-align: left;
  color: #000d31;
}
.second_section .contain{
 /* border:1px solid black;*/
  margin: 0px;
}

.third_section .contain{
   margin: 20px;

}

.fourth_section .contain{
  
  padding: 20px;

  }

.fourth_section .contain .row {
  /*border:1px solid black ;*/
  padding: 20px;
  text-align: center;

   margin-top: 20px;
}
.fourth_section .contain .row .col-lg-4{
}
.fourth_section .contain .row .col-lg-4 p{
  padding: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
   text-align: center;
  color: rgba(0, 13, 49, 0.71);
}
#slider_contain{
  padding: 15px;
}
.third_section .contain .main_contain{
  
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 40px;
  background-color: #f0f0f0;
}

.second_section .contain h3{
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  
  text-align: left;
  color: #000c2d;
}
.second_section .contain h2{
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  
  text-align: left;
  color: #000c2d;
}
.third_section .contain h3{
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  
  text-align: left;
  color: #000c2d;
}
.third_section .contain h2{
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  
  text-align: left;
  color: #000c2d;
}
.fourth_section .contain h2{
  font-size: 40px;
  font-weight: 600;
  
  text-align: left;
  color: #000c2d;
}
.fourth_section .contain h4{
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  color: #000c2d;
}
.third_section .slider_box{
  padding-top: 7%;
  text-align: center;
  height: auto;
}
.third_section .slider_box p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  
  text-align: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  color: rgba(0, 13, 49, 0.71);
  
}
.second_section .row .col-lg-3 .heading_2{
 text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.15px;
  text-align: center;
  color: #000d31;
 
  }
.second_section .row .col-lg-3 .detail
{
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
 background-color: #f0f0f0;
  
  text-align: center;
  color: #000d31;
}

/*tablets*/
@media (max-width: 991px){
  .second_section .row .col-12 {
    width: 100%;
  }
  .second_section .row .col-lg-3 .detail
  {
    margin: 0px;
    font-family: Poppins;
  
  }
  .third_section .slider_box p {
    padding-left: 10%;
    padding-right: 10%;
 }
/*large mobiles*/
@media (max-width: 767px){
  .first_section, .second_section, .fourth_section, .third_section {
    padding: 35px 0;
}
.third_section .contain {
     margin: 0px; 
}
  .second_section .contain h2 {
    font-size: 35px;
  }
  .second_section .row .col-lg-3 .detail {
    padding: 30px;
    font-size: 14px;
  }
  .first_section p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-align: center;
}
  .second_section .contain .heading {
   
    margin: 0px;
    padding:0px; 
    align-items: left;
  }

  .third_section .contain .main_contain{
    padding-top: 5px;
        padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
  }
  .third_section .slider_box p {
    font-size: 14px;
  }
  .fourth_section .contain .row .col-lg-4 p {
    padding: 30px 0;
    font-family: Poppins;
    font-size: 16px;
  }

    .second_section .row .col-12 .heading_2 p{
      text-align: left;
    }
    .second_section .row .col-lg-3 {
      background-color: #f0f0f0; 
       padding: 0px;
       width: 100%;
       margin-top: 20px;
      /* border: 1px solid red;*/

    }
    .second_section .row {
     
      margin: 0px;
      padding: 0px;
    }
    .third_section .slider_box{
      width: 100%;
      margin: 0px;
      padding:10px; 
     height: auto;
    }
    .fourth_section{
      padding: 0px;
      margin: 0px;
      padding-left: 0px;
      padding-right: 10px;
    }
    .fourth_section .row{
      width: 100%;
      margin: 0px;
      padding: 0px;

    }
    .fourth_section .contain .row .col-12{
        
      margin: 0px;
      padding: 0px;
      }
    .fourth_section .contain{
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
    .third_section .main_contain {
      
      padding: 0px;
      margin: 0px;

    }
    #slider_contain{
      
      padding: 0 10px;
      margin: 0px;
    }
    .third_section .slider_box p{
     
          padding: 0 10px;
      margin: 0px;
    }
    .fourth_section .contain h2{
    /*  border: 1px solid red;*/
      margin: 10px;

    }

    .choose{
      margin-top: 40px;
    }
}

@media (max-width: 991px) {
  #blog{
  padding:10px;
}
#blog img{
  width: 100%;
  height: 370px;

}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
  border-top-right-radius: 30px;
  
}
#blog .detial{
  padding-left: 10px;
  display: none;
}
#blog h1{
  padding:10px;
  font-size:28px;
}
#blog .authore{
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 10px 
  

}
#blog .date{
  margin-right: -30px;
  font-size:15px; 
}
#blog .date .time{
  display: none;

}
#about_section .container{
  max-width: 100%;
}

}

@media (max-width: 767px) {
  .blog-content span{
    font-size: 14px;
  }
  .all h1{
  font-size: 50px;
    color: #000c2d;
    font-weight: 700;
}
#blog{
 margin: 0px;
padding: 50px 0;
}

#blog .authore{
  font-size: 10px;
  letter-spacing: 1px;
  margin-left: 10px 

}
#blog .date{
  margin-right: -30px;
  font-size:10px; 
}
#blog .date .time{
  display: none;

}
#blog img{
 
width: 100%;
height: 230px;

}
#pagging{
  padding: 20px;
}
#detail{
  padding-left: 10px;
  display: none;
  ;

}
#blog h1{
 
  padding:10px;
  position: relative;
  font-size:18px;
  letter-spacing: 1px;
  text-align: center;

}

#blog a{
  
  float: left;
 position:relative;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2.13px;
  text-align: center;
  color: #000d31

}
#blog_slider .block-slider_1 img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

}
.blog_section  .blog-inner{
  box-shadow: 0 3px 6px 0 rgba(0, 13, 49, 0.31);
  border: solid 1px #707070;
  border-top-right-radius: 30px;
  padding: 0px;
  margin: 0px;
  
}
.blog_section  .blog-inner .text-area{
  padding-top: 0px;
  margin: 0px;
}

}
@media (max-width: 400px){
  .all h1{
  font-size: 45px;
    color: #000c2d;
    font-weight: 900;
}
.textcat-head {
    font-size: 25px;
    }
  
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
  {
   
    .second_section .row .col-lg-3 .detail

    {
      padding: 10px;
      font-family: Poppins;
      font-size: 22px;
      font-weight: 500;
      background-color: #f0f0f0; 
      text-align: center;
      color: #000d31;
    }
     .second_section .col_contain
     {
       padding-bottom: 30px;
     }
    .col-md-3{
      margin-top: 20px;
      max-width: 100%;
    }
    .third_section .contain .main_contain{
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 40px;
      background-color: #f0f0f0;
    }

    .fourth_section .contain .row .col-lg-4 p {
      padding: 0px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      text-align: center;
      color: rgba(0, 13, 49, 0.71);
  }
  .choose{
    margin-top: 10px;
  }
 
    
}
.choose{
  margin-top: 40px;

}



/*tablets*/
@media (max-width: 991px) {

}

/*large mobiles*/
@media (max-width: 767px) {
  
}



/*small mobiles*/
@media (max-width: 400px) {
  
}