.small-section{
     width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    box-sizing: border-box;
    padding: 80px 0;	
}

.footerp{
	font-size: 30px;
    margin-top: -70px;
}
p{
	float: right;
    cursor: pointer;
    font-size: 16px;
    color: #cfd8dc;
    transition: all 0.2s;
}

a{
	color: #98afc3;
}
.benefits-grid {

    margin: 0 0 -40px -20px;
    text-align: center;
    vertical-align: top;
}

.benefit-item {
    display: inline-block;
    width: 264px;
    margin: 0 0 40px 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: top;
    cursor: default;
}
.benefit-icon {
    position: relative;
    margin-bottom: 6px;
    font-size: 32px;
    color: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}    

.benefit-title {
    position: relative;
    margin: 0 0 17px 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.benefits-descr {
    position: relative;
    font-size: 15px !important;
    font-weight: 300;
    color: #98afc3 !important;
    letter-spacing: 3px !important;
}

.footerlist {
    border-bottom: 2px solid #f1f1f2;
    text-align: center;
    font-size: 12px;
}
ul{
    margin: 0px;
    padding: 0;
}
.footerlist li {
    color: #fff;
    display: inline;

}
.footerlist li a {
    /*color: #fff;*/
    font-size: 18px;
    text-align: left;
    padding: 0 8px;
    color: #fff;
    text-decoration: none;
}

.social-links {
    font-size: 14px;
    margin-bottom: 100px;
}
.social-links a {
    width: 50px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 6px;
    text-align: center;
    display: inline-block;
    color: #98afc3;
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    font-size: 30px;
}

    /*color: #98afc3 !important;*/