@import url(https://fonts.googleapis.com/css?family=Lato:100);


#Home{
  background-color: #1A1D21;
  min-height:100vh ;
}
#About{
  background-color: blue;
  min-height:70vh ;
}
#Services{
  background-color: red;
  min-height:100vh ;
}
#Blogs{
  background-color: brown;
  min-height:100vh ;
}
#Contact{
  background-color: whitesmoke;
  min-height:auto ;
}

/*HOME SECTION*/

.webnodites {
  font-family: 'lato', sans-serif;
  font-weight: 600;
  width: 256px;
  height: 60px;
  left: 50%;
  top: 30%;
  margin-top: 100px;
  margin-left: -550px;
  position: absolute;
  animation: logo 5s ease;
}
@keyframes logo {
  from {
    transform: translateY(300px) scale(1.7);
  }
  40% {
    transform: translateY(110px) scale(1.3);
  }
  70% {
    transform: translateY(110px) scale(1.3);
  }
}
.webnodites span {
  position: absolute;
  font-size: 64px;
  color: #fff;
  line-height: 60px;
}
.webnodites span:nth-child(1) {
  font-size: 32px;
  width: inherit;
  text-align: left;
  margin-top: -55px;
  color: rgba(255, 255, 255, 0.6);
  animation: weare 5s ease;
}
@keyframes weare {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.webnodites span:nth-child(2) {
  font-size: 28px;
  width: inherit;
  text-align: center;
  opacity: 0;
  margin-top: -55px;
  color: rgba(255, 255, 255, 0.6);
  animation: weprovide 5s ease;
}
@keyframes weprovide {
  from {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
.webnodites span:nth-child(3) {
  left: 75px;
  animation: a 5s ease;
  transform: translateX(0px);
  opacity: 0;
}
@keyframes a {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateX(-90px);
  }
}
.webnodites span:nth-child(4) {
  left: 90px;
  animation: n 5s ease;
  transform: translateX(0px);
  opacity: 0;
}
@keyframes n {
  from {
    opacity: 0;
    transform: translateX(-70px);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateX(-70px);
  }
}
.webnodites span:nth-child(5) {
  left: 130px;
  animation: n 5s ease;
  transform: translateX(110px);
}
@keyframes n {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateX(60px);
  }
}
.webnodites span:nth-child(6) {
  left: 210px;
  animation: view 5s ease;
  transform: translateX(-5px);
}
@keyframes view {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateX(60px);
  }
}
.webnodites span:nth-child(7) {
  left: -100px;
  animation: weare 5s ease;
}
@keyframes weare {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.webnodites span:nth-child(8) {
  left: 40px;
  animation: weare 5s ease;
}
@keyframes weare {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
.webnodites span:nth-child(9) {
  left: 140px;
  animation: weare 5s ease;
}
@keyframes weare {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: translateY(-40px);
  }
}
#particles-js{
  
  background-size: 100%;
  
  background-repeat: no-repeat;
}
.leftside ,.rightside{
  height: 50vh;
  width: 100%
}
.leftside{
  background: red;
}
.rightside{
  background: blue;
}
.leftside1 ,.rightside1{
  height: 50vh;
  width: 100%
}
.leftside1,.rightside{
  
  
  
  text-align: center;
  padding: 100px;

}
.rightside1{
  background: gray;
}


/* CONTACT SECTION */

.small-section{
  width: 100%;
 display: block;
 position: relative;
 overflow: hidden;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center center;
 box-sizing: border-box;
 padding: 80px 0;	
}

.footerp{
font-size: 30px;
 margin-top: -70px;
}
p{
float: right;
 cursor: pointer;
 font-size: 16px;
 color: #cfd8dc;
 transition: all 0.2s;
}

a{
color: #98afc3;
}
.benefits-grid {

 margin: 0 0 -40px -20px;
 text-align: center;
 vertical-align: top;
}

.benefit-item {
 display: inline-block;
 width: 264px;
 margin: 0 0 40px 20px;
 padding: 15px;
 position: relative;
 overflow: hidden;
 box-sizing: border-box;
 vertical-align: top;
 cursor: default;
}
.benefit-icon {
 position: relative;
 margin-bottom: 6px;
 font-size: 32px;
 color: #fff;
}
.fa {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}    

.benefit-title {
 position: relative;
 margin: 0 0 17px 0;
 padding: 0;
 font-size: 14px;
 color: #fff;
 text-transform: uppercase;
}

.benefits-descr {
 position: relative;
 font-size: 15px !important;
 font-weight: 300;
 color: #98afc3 !important;
 letter-spacing: 3px !important;
}

.footerlist {
 border-bottom: 2px solid #f1f1f2;
 text-align: center;
 font-size: 12px;
}
ul{
 margin: 0px;
 padding: 0;
}
.footerlist li {
 color: #fff;
 display: inline;

}
.footerlist li a {
 /*color: #fff;*/
 font-size: 18px;
 text-align: left;
 padding: 0 8px;
 color: #fff;
 text-decoration: none;
}

.social-links {
 font-size: 14px;
 margin-bottom: 100px;
}
.social-links a {
 width: 50px;
 height: 25px;
 line-height: 25px !important;
 position: relative;
 margin: 0 6px;
 text-align: center;
 display: inline-block;
 color: #98afc3;
 transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
 font-size: 30px;
}

 /*color: #98afc3 !important;*/