<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gym World</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="index.html">Gym World</a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#classes-section" class="nav-link">Classes</a></li>
                <li><a href="#schedule-section" class="nav-link">Schedule</a></li>
                <li><a href="#trainer-section" class="nav-link">Trainer</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
              </ul>
            </nav>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block">
                <li class="cta"><a href="#contact-section" class="nav-link"><span
                      class="rounded border border-primary">Contact</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>

    </header>

    <a id="bgndVideo" class="player"
      data-property="{videoURL:'https://www.youtube.com/watch?v=Be9NVUZABh0',showYTLogo:false, showAnnotations: false, showControls: false, cc_load_policy: false, containment:'#home-section',autoPlay:true, mute:true, startAt:10, stopAt: 36, opacity:1}">
    </a>

    <div class="intro-section" id="home-section" style="background-color: #ccc;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 mx-auto text-center" data-aos="fade-up">
            <h1>Welcome To Gym World</h1>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section section-1">


      <div class="container">

        <div class="row mb-5">
          <div class="col-lg-3">
        
            <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="">
              <div class="icon-wrap"><span class="flaticon-muscle "></span></div>
              <div class="counter-text">
                <strong>2,260</strong>
                <span>Members</span>
              </div>
            </div>
        
        
          </div>
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-wrap"><span class="flaticon-stationary-bike "></span></div>
              <div class="counter-text">
                <strong>210</strong>
                <span>Daily Visitors </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
        
            <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-wrap"><span class="flaticon-banana "></span></div>
              <div class="counter-text">
                <strong>887</strong>
                <span>Health Program</span>
              </div>
            </div>
        
          </div>
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-wrap"><span class="flaticon-heart "></span></div>
              <div class="counter-text">
                <strong>1,920</strong>
                <span>Heart Beat</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 mr-auto mb-5 align-self-center">

            <div class="mb-5">
              <h2 class="section-title">Your Fitness</h2>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore
                molestias blanditiis consequuntur
                sunt nisi.</p>
              <p>
                <a href="#contact-section" class="btn btn-primary smoothscroll py-3 px-4">About</a>
              </p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="image-absolute-box">
             
              <img src="images/virat/virat10.jpg" alt="Image" class="img-fluid img-shadow">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="site-section section-2" id="classes-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title" style="color: #0C0032;">Classes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
              voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
              blanditiis consequuntur
              sunt nisi.</p>
          </div>
        </div>

      </div>
      <div class="owl-carousel nonloop-block-13">

        <a class="work-thumb" href="single.html">
          <div class="work-text">
            <h3>Classes fitness name here</h3>
            <span class="category">Fitness</span>
          </div>
          <img src="images/virat/virat1.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb" href="single.html">
          <div class="work-text">
            <h3>Classes fitness name here</h3>
            <span class="category">Cardio Vascular</span>
          </div>
          <img src="images/virat/virat2.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb" href="single.html">
          <div class="work-text">
            <h3>Classes fitness name here</h3>
            <span class="category">Lose Weight</span>
          </div>
          <img src="images/virat/virat10.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb" href="single.html">
          <div class="work-text">
            <h3>Classes fitness name here</h3>
            <span class="category">Cardio Vascular</span>
          </div>
          <img src="images/virat/virat11.jpg" alt="Image" class="img-fluid">
        </a>

        <a class="work-thumb" href="single.html">
          <div class="work-text">
            <h3>Classes fitness name here</h3>
            <span class="category">Fitness</span>
          </div>
          <img src="images/virat/virat7.jpg" alt="Image" class="img-fluid">
        </a>
      </div>

    </div>


    <div class="site-section section-3" id="schedule-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
              <h2 class="section-title">Schedule</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
                blanditiis consequuntur
                sunt nisi.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <ul class="nav nav-tabs mb-5 border-bottom-0 justify-content-center tab-list-custom" id="myTab" role="tablist">
              <li class="nav-item">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week1">Monday</button>
              </li>

              <li class="nav-item">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week2">Tuesday</button>
              </li>
              <li class="nav-item">
               <li class="nav-item">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week3">Wednesday</button>
              </li>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week4">Thursday</button>
              </li>
              <li class="nav-item">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week5">Friday</button>
              </li>
              <li class="nav-item">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#week6">Staurday</button>
              </li>
            </ul>
            
        </div>
        
      </div>
    </div>
  </div>

    <div class="site-section" id="trainer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title" data-aos="fade-up">Trainers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
              voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
              blanditiis consequuntur
              sunt nisi.</p>
          </div>
        </div>
        <div class="row large-gutters">
          <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0">
            <img src="images/trannier/SatyajitChaurasia1.jpg" alt="Image" class="img-fluid mb-5">
            <h3>Satyajit Chaurasia</h3>
            
            <p>Aamir Khan has arguably looked his personal best in Ghajini, and the man responsible for his rock hard muscles is Satyajit Chaurasia. His star-studded client base also includes Saif Ali Khan, Hrithik Roshan and Zayed Khan. He owns the Barbarian Gym in Mumbai, which is the favourite hangout for a lot of Bollywood celebrities.</p>
          </div>
          <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0 mt-5">
            <img src="images/trannier/PayalGidwaniTiwari1.jpg" alt="Image" class="img-fluid mb-5">
            <h3>Payal Gidwani Tiwari</h3>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil repellat ipsam sequi iure rerum voluptatem,
              dignissimos dolorem porro aliquid veritatis!</p>
          </div>
          <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0">
            <img src="images/trannier/PrashantSawant.jpg" alt="Image" class="img-fluid mb-5">
            <h3>Prashant Sawant </h3>
            
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil repellat ipsam sequi iure rerum voluptatem,
              dignissimos dolorem porro aliquid veritatis!</p>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section" id="services-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title" style="color: blue">Services</h2>
            <p style="color: black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
              voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
              blanditiis consequuntur
              sunt nisi.</p>
          </div>
        </div>

      </div>

      <div class="container section-4">

        <div class="owl-carousel nonloop-block-14" >

          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-0</h3>
              
              <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>


          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>

          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>

          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-4</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>

          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-5</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>

          <div class="service" id="service-pack">
            <div>
              
              <h3>Service-6</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
                voluptatibus animi.</p>
            </div>
          </div>



        </div>
      </div>

    </div>


    <div class="site-section bg-dark" id="contact-section1">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-7">



            <h2 class="section-title mb-3">Contact Us</h2>
            <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam
              temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>

            <form method="post" data-aos="fade">
              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Subject">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" id="" cols="30" rows="10"
                    placeholder="Write your message here."></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">

                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Send Message">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>



    <footer class="footer-section section-6">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Webnodites</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis
              corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Meditation</a></li>
              <li><a href="#">Gym</a></li>
              <li><a href="#">Aerobatics</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Subscribe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt iure iusto architecto?
              Numquam, natus?</p>
            <form action="#">
              <div class="d-flex mb-5">
                <input type="text" class="form-control rounded-0" placeholder="Email">
                <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
              </div>
            </form>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> <a href="https://Webnodites.com" target="_blank">Webnodites</a> Designed By <a href="https://Webnodites.com" target="_blank">Webnodites</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->
<!-- Button trigger modal -->

<div class="modal fade" id="week1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Monday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="week2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Tuesday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="week3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Monday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="week4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Monday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="week5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Monday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="week6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Monday</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <table class="table table-bordered  table-striped ">
                  
                  <tbody>
                    <tr>
                      <td>Gym</td>
                      <td>8:00am - 10:00am</td>
                      <td>John Doe</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Meditation</td>
                      <td>10:00am - 10:30am</td>
                      <td>James Holmes</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Weight Lifting</td>
                      <td>1:00pm - 2:30pm</td>
                      <td>Ben Smith</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Crossfit</td>
                      <td>3:00pm - 3:45pm</td>
                      <td>Craig Peters</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>
                    <tr>
                      <td>Aerobics</td>
                      <td>5:00pm - 5:30pm</td>
                      <td>Paul Green</td>
                      <td class="text-center"><a href="#contact-section" class="smoothscroll">Join Now</a></td>
                    </tr>

                    
                    
                  </tbody>
                </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>




  <script src="js/main.js"></script>

</body>

</html>