.planning-area {
    background-color: #fcfcfc;
    position: relative;
    height: 100vh;
}
.planning-area .heading{
	height: 80px;
}
.planning-area .heading h2{
	 text-align: center;
    font-weight: 700;
    color: #023575;
    /*font-family: Open Sans;*/
    font-size: 40px;
    line-height: 50px;
}
.line{
	height: 125px;
	margin-top: -15px;
	opacity: 0;
	transition: all 2s;
}
.line img{
	height:100%;
	width: 100%;

}
.icon1,.icon2{
	height: 270px;
	text-align: center;
}
.icon1{
	margin-left: 110px;
    padding-top: 70px;
}
.icon2{
	margin-right: 70px;
}
.icon1 h3, .icon2 h3{
	color: #023575;
}

.icon1 img, .icon2 img{
	height: 100px;
	width: 100px;
}

.icon1 p,.icon2 p{
 padding: 5px;
 font-size: 17px; 
}

.colchange h3,.colchange img{
	margin-left: 45px;
}
.colchange2 h3,.colchange2 img{
	margin-right: 60px;
}


.fadeintop {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 2s;
}
.fadeinbottom {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s;
}
.fadeintop.visible {
    opacity: 1;
    transform: translateY(0);
}
.fadeinbottom.visible{
    opacity: 1;
    transform: translateY(0);
}
.line.visible{
    opacity: 1;
    }

@media only screen and (max-width: 767px)
{
.icon1{
    margin-left: 0px;
    padding-top: 70px;
    height: 200px;
}
.icon2{
    margin-right: 0px;
    height: 200px;
}
.icon1 img, .icon2 img{
    height: 50px;
    width: 50px;
}
.icon1 h3, .icon2 h3{
    color: #023575;
    font-size: 15px;
}
.colchange h3,.colchange img{
    margin-left: 0px;
}
.colchange2 h3,.colchange2 img{
    margin-right: 0px;
}
.fadeintop {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 2s;
}
.fadeinbottom {
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s;
}
}
@media only screen and (max-width: 500px)
{
  .icon1{
    margin-left: 15px;
  
}  
}